In [1]:
import sqlite3

connection=sqlite3.connect("vodacom_demo.db")

print("Connected to Database")

Connected to Database

In [5]:
cursor=connection.cursor()

# students 

query='''
CREATE TABLE IF NOT EXISTS students(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
)
'''

cursor.execute(query)
print("Table Created Successfully")

Table Created Successfully

#### Insert into the Table

In [9]:
query="INSERT INTO students (name,age,grade) values ('Tom',25,'A')"
cursor.execute(query)
connection.commit()

In [11]:
query="INSERT INTO students (name,age,grade) values ('Elizabeth',24,'B')"
cursor.execute(query)
connection.commit()

In [13]:
query="INSERT INTO students (name,age,grade) values ('Mike',26,'C')"
cursor.execute(query)
connection.commit()

#### Query the data from database

In [68]:
query="Select * from students"
cursor.execute(query)
rows=cursor.fetchall()

print(type(rows))

for row in rows:
    print(type(row))
    print(row)

<class 'list'>
<class 'tuple'>
(1, 'Tom', 25, 'A')
<class 'tuple'>
(3, 'Elizabeth', 24, 'A+')
<class 'tuple'>
(4, 'Mike', 26, 'C')

#### Update and Delete the records from Database

#### Update

In [27]:
query="Update students set grade='A+' WHERE name='Elizabeth'"
cursor.execute(query)
connection.commit()

#### Delete

In [32]:
query ="Delete from students where id=2"
cursor.execute(query)
connection.commit()

## INSTALLING SQLALCHEMY

In [39]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\victus\anaconda36\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\victus\anaconda36\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\victus\anaconda36\lib\site-packages (from sqlalchemy) (3.0.1)

In [43]:
from sqlalchemy import create_engine

database_url="sqlite:///vodacom_test.db"
engine=create_engine(database_url,echo=True)

print("Engine generated successfully")

Engine generated successfully

### Define the Table using ORM[Object Relational Mapping]

In [46]:
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column,Integer,String

Base=declarative_base()

class Customer(Base):
    __tablename__="customers"

    id=Column(Integer,primary_key=True,autoincrement=True)
    name=Column(String(100),nullable=False)
    email=Column(String(100),nullable=False,unique=True)
    age=Column(Integer,nullable=True)

    def __repr__(self):
        return f"Customer [Id: {self.id} | Name:{self.name} | Email : {self.email} | Age: {self.age}]"

#### CREATE THE DATABASE TABLE

In [49]:
Base.metadata.create_all(engine)
print("Tables created")

2024-10-17 19:01:47,742 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-17 19:01:47,743 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2024-10-17 19:01:47,743 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-17 19:01:47,744 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customers")
2024-10-17 19:01:47,745 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-17 19:01:47,746 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	email VARCHAR(100) NOT NULL,
	age INTEGER,
	PRIMARY KEY (id),
	UNIQUE (email)
)


2024-10-17 19:01:47,747 INFO sqlalchemy.engine.Engine [no key 0.00075s] ()
2024-10-17 19:01:47,769 INFO sqlalchemy.engine.Engine COMMIT
Tables created

#### Insert record into table

In [52]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session=Session()

customer1=Customer(name="Tom Smith",age=40,email="tom.smith@gmail.com")
customer2=Customer(name="Penny Colin",age=34,email="penny.colin@gmail.com")

session.add(customer1)
session.add(customer2)

session.commit()

2024-10-17 19:12:01,498 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-17 19:12:01,500 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, email, age) VALUES (?, ?, ?) RETURNING id
2024-10-17 19:12:01,501 INFO sqlalchemy.engine.Engine [generated in 0.00015s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('TOm Smith', 'tom.smith@gmail.com', 40)
2024-10-17 19:12:01,503 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, email, age) VALUES (?, ?, ?) RETURNING id
2024-10-17 19:12:01,503 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('Penny Colin', 'penny.colin@gmail.com', 34)
2024-10-17 19:12:01,505 INFO sqlalchemy.engine.Engine COMMIT

#### Query the data in db

In [66]:
customers=session.query(Customer).all()
print(type(customers))
for customer in customers:
    print(type(customer))
    print(customer)

2024-10-17 19:26:34,540 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.email AS customers_email, customers.age AS customers_age
FROM customers
2024-10-17 19:26:34,540 INFO sqlalchemy.engine.Engine [cached since 518.9s ago] ()
<class 'list'>
<class '__main__.Customer'>
Customer [Id: 1 | Name:Thomas Smith | Email : tom.smith@gmail.com | Age: 39]
<class '__main__.Customer'>
Customer [Id: 2 | Name:Penny Colin | Email : penny.colin@gmail.com | Age: 34]

In [59]:
tom=session.query(Customer).filter_by(id=1).first()
print(tom)

2024-10-17 19:23:07,148 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.email AS customers_email, customers.age AS customers_age
FROM customers
WHERE customers.id = ?
 LIMIT ? OFFSET ?
2024-10-17 19:23:07,149 INFO sqlalchemy.engine.Engine [generated in 0.00084s] (1, 1, 0)
Customer [Id: 1 | Name:TOm Smith | Email : tom.smith@gmail.com | Age: 40]

#### Update record in Alchemy

In [70]:
tom=session.query(Customer).filter_by(id=1).first()
print(tom)

tom.name="Thomas Smith"
tom.age=39

session.commit()

2024-10-17 19:27:39,186 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.email AS customers_email, customers.age AS customers_age
FROM customers
WHERE customers.id = ?
 LIMIT ? OFFSET ?
2024-10-17 19:27:39,187 INFO sqlalchemy.engine.Engine [cached since 272s ago] (1, 1, 0)
Customer [Id: 1 | Name:Thomas Smith | Email : tom.smith@gmail.com | Age: 39]
2024-10-17 19:27:39,188 INFO sqlalchemy.engine.Engine COMMIT

#### Delete the record

In [73]:


penny=session.query(Customer).filter_by(id=2).first()
print(penny)

session.delete(penny)
session.commit()

print("Record Deleted")

2024-10-17 19:31:19,700 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-17 19:31:19,701 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.email AS customers_email, customers.age AS customers_age
FROM customers
WHERE customers.id = ?
 LIMIT ? OFFSET ?
2024-10-17 19:31:19,701 INFO sqlalchemy.engine.Engine [cached since 492.6s ago] (2, 1, 0)
Customer [Id: 2 | Name:Penny Colin | Email : penny.colin@gmail.com | Age: 34]
2024-10-17 19:31:19,703 INFO sqlalchemy.engine.Engine DELETE FROM customers WHERE customers.id = ?
2024-10-17 19:31:19,704 INFO sqlalchemy.engine.Engine [generated in 0.00050s] (2,)
2024-10-17 19:31:19,705 INFO sqlalchemy.engine.Engine COMMIT
Record Deleted

#### Step 1: Importing data from csv into a table 
##### Creating Mapping between python class and database

In [2]:
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column,Integer,String

from sqlalchemy import create_engine

database_url="sqlite:///vodacom_csv.db"
engine=create_engine(database_url,echo=True)

print("Engine generated successfully")

Base=declarative_base()

class Customer(Base):
    __tablename__="customers"

    id=Column(Integer,primary_key=True,autoincrement=True)
    name=Column(String(100),nullable=False)
    email=Column(String(100),nullable=False,unique=True)
    age=Column(Integer,nullable=True)
    city=Column(String(50),nullable=True)

    def __repr__(self):
        return f"Customer [Id: {self.id} | Name:{self.name} | Email : {self.email} | Age: {self.age} | City: {self.city}]"

Engine generated successfully

In [4]:
Base.metadata.create_all(engine)
print("Tables created")

2024-10-18 13:23:57,188 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:23:57,189 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2024-10-18 13:23:57,190 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-18 13:23:57,191 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customers")
2024-10-18 13:23:57,192 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-18 13:23:57,192 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	email VARCHAR(100) NOT NULL,
	age INTEGER,
	city VARCHAR(50),
	PRIMARY KEY (id),
	UNIQUE (email)
)


2024-10-18 13:23:57,193 INFO sqlalchemy.engine.Engine [no key 0.00055s] ()
2024-10-18 13:23:57,216 INFO sqlalchemy.engine.Engine COMMIT
Tables created

#### Step 2: Loading Data frmom CSV 
#### read_csv -- read raw data from csv


#### convert_row_to_customer -- each raw record we got from csv we convert to a sinle customer object [1 #### generate_customer_list --- we call read_csv, pass the read csv data to convert_row_to_customer and #### then generate the returned customer to a customer list

In [32]:
import csv
def read_csv(path):
    with open(path,"r") as csvfile:
        reader=csv.reader(csvfile)
        data=list(reader)
        return data;



def convert_row_to_customer(row):
    id,name,email,age,city=row
    customer=Customer(id=id,name=name,age=age,email=email,city=city)
    return customer

def generate_customer_list():
    customers=[]
    reader=read_csv("customers_data.csv")
    for row in reader:
        if "ID" in row:
            pass
        else:
            customer=convert_row_to_customer(row)
            print(customer,type(customer))
            customers.append(customer)
    print("Customersss",type(customers))
    return customers


# generate_customer_list()

#### Insert it into database

In [34]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session=Session()

customers=generate_customer_list()

for customer in customers:
    session.add(customer)
    session.commit()

Customer [Id: 1 | Name:Danielle Weaver | Email : wadelindsay@yahoo.com | Age: 33 | City: Watkinsview] <class '__main__.Customer'>
Customer [Id: 2 | Name:Brandon Moore | Email : brownmarie@gmail.com | Age: 43 | City: New Patrick] <class '__main__.Customer'>
Customer [Id: 3 | Name:Gregory Brown | Email : greenlaura@gordon-lopez.com | Age: 48 | City: West Diane] <class '__main__.Customer'>
Customer [Id: 4 | Name:William Huang | Email : doughertynicole@yahoo.com | Age: 66 | City: Port Jimmyville] <class '__main__.Customer'>
Customer [Id: 5 | Name:Tom Hardin | Email : ilee@ball-welch.com | Age: 42 | City: Lauraport] <class '__main__.Customer'>
Customer [Id: 6 | Name:Ashley Hicks | Email : jaime83@brown.org | Age: 77 | City: Williamsstad] <class '__main__.Customer'>
Customer [Id: 7 | Name:Jacob Galvan | Email : emily62@herrera.com | Age: 47 | City: Dannymouth] <class '__main__.Customer'>
Customer [Id: 8 | Name:Christine Gibson | Email : kimberly70@yahoo.com | Age: 75 | City: Port Miguelhaven] <class '__main__.Customer'>
Customer [Id: 9 | Name:Melanie Johnson | Email : kellydawn@wright.com | Age: 61 | City: Murphyhaven] <class '__main__.Customer'>
Customer [Id: 10 | Name:Terry Barnett | Email : willisjames@hotmail.com | Age: 54 | City: Lake Brendastad] <class '__main__.Customer'>
Customer [Id: 11 | Name:Jessica Rodriguez | Email : kaylahughes@gmail.com | Age: 65 | City: Cookburgh] <class '__main__.Customer'>
Customer [Id: 12 | Name:Charles Lucas | Email : jose38@parker-bell.org | Age: 70 | City: Lake Derektown] <class '__main__.Customer'>
Customer [Id: 13 | Name:Kelly Love | Email : hudsoncory@ward.com | Age: 45 | City: Port Travisport] <class '__main__.Customer'>
Customer [Id: 14 | Name:Ariel White | Email : mryan@bishop.net | Age: 75 | City: West Kyleburgh] <class '__main__.Customer'>
Customer [Id: 15 | Name:Charles Chan | Email : tashasmith@hotmail.com | Age: 34 | City: Kevinshire] <class '__main__.Customer'>
Customer [Id: 16 | Name:Katherine Moore | Email : jessica58@hotmail.com | Age: 22 | City: Evansshire] <class '__main__.Customer'>
Customer [Id: 17 | Name:Michael Collins | Email : jennifer15@hotmail.com | Age: 49 | City: Christopherton] <class '__main__.Customer'>
Customer [Id: 18 | Name:Tracy Spencer | Email : autumnmedina@yahoo.com | Age: 38 | City: West Sandraside] <class '__main__.Customer'>
Customer [Id: 19 | Name:Roger Guerrero | Email : brucetaylor@richard-marshall.com | Age: 27 | City: Daniellechester] <class '__main__.Customer'>
Customer [Id: 20 | Name:Stephanie Hughes | Email : levineethan@hodge.com | Age: 41 | City: Brownland] <class '__main__.Customer'>
Customer [Id: 21 | Name:Benjamin Hughes | Email : beth99@hotmail.com | Age: 21 | City: Carlmouth] <class '__main__.Customer'>
Customer [Id: 22 | Name:Gilbert Mckinney | Email : ritajenkins@yahoo.com | Age: 45 | City: Lopezport] <class '__main__.Customer'>
Customer [Id: 23 | Name:Dr. Thomas Walsh | Email : jamesmcdonald@arroyo.com | Age: 58 | City: Aprilborough] <class '__main__.Customer'>
Customer [Id: 24 | Name:Brandon Roberts | Email : maryaguirre@mcconnell.com | Age: 24 | City: Port Virginiahaven] <class '__main__.Customer'>
Customer [Id: 25 | Name:Joseph Harris | Email : driggs@hicks.net | Age: 29 | City: Rodriguezstad] <class '__main__.Customer'>
Customer [Id: 26 | Name:Robert Garcia | Email : pamelabriggs@lewis-mcintyre.com | Age: 62 | City: Benitezbury] <class '__main__.Customer'>
Customer [Id: 27 | Name:Tiffany Cummings | Email : umerritt@gmail.com | Age: 54 | City: South Nicole] <class '__main__.Customer'>
Customer [Id: 28 | Name:Cameron Grimes | Email : pecklisa@cortez.com | Age: 56 | City: Timothyton] <class '__main__.Customer'>
Customer [Id: 29 | Name:Rebekah Anderson | Email : elizabeth40@yahoo.com | Age: 49 | City: Travisberg] <class '__main__.Customer'>
Customer [Id: 30 | Name:Michael Rivera | Email : audreygarcia@gmail.com | Age: 39 | City: South Patrick] <class '__main__.Customer'>
Customer [Id: 31 | Name:Christopher Anderson | Email : amanda22@hotmail.com | Age: 68 | City: North Robert] <class '__main__.Customer'>
Customer [Id: 32 | Name:Mariah Gonzalez | Email : antonio53@yahoo.com | Age: 28 | City: Whitechester] <class '__main__.Customer'>
Customer [Id: 33 | Name:Thomas Moreno | Email : abaker@young.net | Age: 49 | City: Sandrafort] <class '__main__.Customer'>
Customer [Id: 34 | Name:Randy Anderson | Email : cbrown@gmail.com | Age: 30 | City: Reynoldsview] <class '__main__.Customer'>
Customer [Id: 35 | Name:Madison Johnson | Email : xgrant@phelps.net | Age: 22 | City: New Matthewbury] <class '__main__.Customer'>
Customer [Id: 36 | Name:Virginia Webb | Email : hernandezpaul@aguilar.net | Age: 79 | City: Lake Alexandra] <class '__main__.Customer'>
Customer [Id: 37 | Name:Angela Harris | Email : pjohnson@casey.com | Age: 71 | City: Griffinfurt] <class '__main__.Customer'>
Customer [Id: 38 | Name:Laura Lewis | Email : allen07@yahoo.com | Age: 49 | City: Garzaborough] <class '__main__.Customer'>
Customer [Id: 39 | Name:Robert Martin | Email : ebrown@gmail.com | Age: 51 | City: Hodgesside] <class '__main__.Customer'>
Customer [Id: 40 | Name:Jordan Martin | Email : vicki27@gmail.com | Age: 33 | City: Greenbury] <class '__main__.Customer'>
Customer [Id: 41 | Name:Natasha Martinez | Email : alexis55@yahoo.com | Age: 44 | City: Lake Kirsten] <class '__main__.Customer'>
Customer [Id: 42 | Name:Carrie Wu | Email : hernandezwilliam@hotmail.com | Age: 64 | City: Port Kelly] <class '__main__.Customer'>
Customer [Id: 43 | Name:Amanda Barnett | Email : lynn26@morgan.com | Age: 61 | City: Barronville] <class '__main__.Customer'>
Customer [Id: 44 | Name:Timothy Taylor | Email : holly39@lewis-tanner.org | Age: 23 | City: Fergusonmouth] <class '__main__.Customer'>
Customer [Id: 45 | Name:Ronald Quinn | Email : scott12@gmail.com | Age: 58 | City: Wallfort] <class '__main__.Customer'>
Customer [Id: 46 | Name:Morgan Villanueva | Email : ross69@stanley.com | Age: 34 | City: Farleyshire] <class '__main__.Customer'>
Customer [Id: 47 | Name:Roberta Salazar | Email : belldanielle@yahoo.com | Age: 62 | City: South Jorge] <class '__main__.Customer'>
Customer [Id: 48 | Name:Brandy Osborne | Email : carlsonshawn@hotmail.com | Age: 49 | City: Zimmermanfort] <class '__main__.Customer'>
Customer [Id: 49 | Name:Christina Anderson | Email : antoniobooth@hardy-hudson.biz | Age: 76 | City: Jessicabury] <class '__main__.Customer'>
Customer [Id: 50 | Name:Allison Sanchez | Email : scottdillon@gmail.com | Age: 25 | City: Rhondaland] <class '__main__.Customer'>
Customer [Id: 51 | Name:Nathaniel Campbell | Email : heather96@yahoo.com | Age: 59 | City: West Joseville] <class '__main__.Customer'>
Customer [Id: 52 | Name:Mary Hernandez | Email : natasha05@gmail.com | Age: 42 | City: Rojasburgh] <class '__main__.Customer'>
Customer [Id: 53 | Name:Billy Bowman | Email : jacquelinejones@pearson.com | Age: 62 | City: Williamburgh] <class '__main__.Customer'>
Customer [Id: 54 | Name:Rachel Kim | Email : crystal90@hill-harrell.com | Age: 47 | City: Anitaport] <class '__main__.Customer'>
Customer [Id: 55 | Name:Jason White | Email : sherrivazquez@gmail.com | Age: 72 | City: Matthewsberg] <class '__main__.Customer'>
Customer [Id: 56 | Name:Victoria Garcia | Email : jonesmark@frederick-williams.com | Age: 58 | City: Samanthaside] <class '__main__.Customer'>
Customer [Id: 57 | Name:Sarah Anderson | Email : martin00@pierce.com | Age: 54 | City: New Teresa] <class '__main__.Customer'>
Customer [Id: 58 | Name:Ian Wagner | Email : allenjacob@yahoo.com | Age: 39 | City: Port Stacieberg] <class '__main__.Customer'>
Customer [Id: 59 | Name:Robert Adkins | Email : orozcogeorge@yahoo.com | Age: 68 | City: New Emily] <class '__main__.Customer'>
Customer [Id: 60 | Name:Russell Morales | Email : paul97@adams.com | Age: 51 | City: Claytonshire] <class '__main__.Customer'>
Customer [Id: 61 | Name:Joel Greene | Email : amandaknight@boyer.com | Age: 36 | City: Robertview] <class '__main__.Customer'>
Customer [Id: 62 | Name:Karen Kim | Email : ruizmark@gmail.com | Age: 66 | City: Karlamouth] <class '__main__.Customer'>
Customer [Id: 63 | Name:Frank Guzman | Email : laurenwalker@knox.com | Age: 44 | City: Lake Julie] <class '__main__.Customer'>
Customer [Id: 64 | Name:Trevor Parker | Email : jessicabaker@ross.org | Age: 76 | City: Port Stephenport] <class '__main__.Customer'>
Customer [Id: 65 | Name:Victoria Perez | Email : lolson@yahoo.com | Age: 53 | City: West Zacharytown] <class '__main__.Customer'>
Customer [Id: 66 | Name:Anthony Sanders | Email : abigail28@kramer.com | Age: 54 | City: Michaelshire] <class '__main__.Customer'>
Customer [Id: 67 | Name:John Ortiz | Email : ujenkins@gmail.com | Age: 46 | City: Markshire] <class '__main__.Customer'>
Customer [Id: 68 | Name:Megan Davis | Email : vroman@crane.net | Age: 71 | City: Kerryton] <class '__main__.Customer'>
Customer [Id: 69 | Name:Joseph Coleman | Email : kevans@schmidt-brewer.com | Age: 76 | City: Port Jessicatown] <class '__main__.Customer'>
Customer [Id: 70 | Name:Stephanie Lopez | Email : melissabush@yahoo.com | Age: 43 | City: Parkerside] <class '__main__.Customer'>
Customer [Id: 71 | Name:Matthew Gallagher | Email : maria68@scott.com | Age: 80 | City: Brittanyburgh] <class '__main__.Customer'>
Customer [Id: 72 | Name:Sean Berger | Email : tylerdaniel@yahoo.com | Age: 23 | City: Lake Thomasborough] <class '__main__.Customer'>
Customer [Id: 73 | Name:Michael James | Email : stacey08@jefferson.info | Age: 30 | City: Valdeztown] <class '__main__.Customer'>
Customer [Id: 74 | Name:Kevin Hood | Email : zgarcia@jones.biz | Age: 27 | City: Beckerhaven] <class '__main__.Customer'>
Customer [Id: 75 | Name:Bailey Gilbert | Email : williemartinez@torres.org | Age: 46 | City: East Jason] <class '__main__.Customer'>
Customer [Id: 76 | Name:Juan Gill | Email : nicholas86@hotmail.com | Age: 37 | City: Port Christopherhaven] <class '__main__.Customer'>
Customer [Id: 77 | Name:John Hunter | Email : cuevastony@martinez-rowe.biz | Age: 59 | City: South Sandyside] <class '__main__.Customer'>
Customer [Id: 78 | Name:William Ortiz | Email : xschwartz@patton-turner.com | Age: 37 | City: Port Michaelton] <class '__main__.Customer'>
Customer [Id: 79 | Name:Emily Garcia | Email : smithmichael@hotmail.com | Age: 43 | City: Russellfort] <class '__main__.Customer'>
Customer [Id: 80 | Name:Caleb Shannon | Email : johnsontina@hotmail.com | Age: 24 | City: Washingtonberg] <class '__main__.Customer'>
Customer [Id: 81 | Name:Jennifer Grant | Email : ashley81@sherman.info | Age: 77 | City: Wilkersonfort] <class '__main__.Customer'>
Customer [Id: 82 | Name:Jeremy Thompson | Email : kristen69@brown-williams.com | Age: 79 | City: Port Joe] <class '__main__.Customer'>
Customer [Id: 83 | Name:John Hudson | Email : leenicole@zimmerman.com | Age: 19 | City: Port Diane] <class '__main__.Customer'>
Customer [Id: 84 | Name:Michael Lozano | Email : stephanie04@gmail.com | Age: 33 | City: Davidview] <class '__main__.Customer'>
Customer [Id: 85 | Name:Jonathan Campbell | Email : chadcook@hotmail.com | Age: 63 | City: New Sheri] <class '__main__.Customer'>
Customer [Id: 86 | Name:Matthew Craig | Email : wmack@ballard.com | Age: 64 | City: Gonzalesmouth] <class '__main__.Customer'>
Customer [Id: 87 | Name:Kathryn Gibson | Email : kjacobs@hotmail.com | Age: 71 | City: Savannahport] <class '__main__.Customer'>
Customer [Id: 88 | Name:Lauren Brewer | Email : fnelson@williams.info | Age: 56 | City: Carsonbury] <class '__main__.Customer'>
Customer [Id: 89 | Name:Patrick Gilbert | Email : nancygreen@gmail.com | Age: 76 | City: Amandaside] <class '__main__.Customer'>
Customer [Id: 90 | Name:Barry Rodgers | Email : martinezjennifer@hotmail.com | Age: 71 | City: West Paulbury] <class '__main__.Customer'>
Customer [Id: 91 | Name:Ashley Watkins | Email : jessica61@gmail.com | Age: 66 | City: Manuelland] <class '__main__.Customer'>
Customer [Id: 92 | Name:Joshua Guzman | Email : heidimclaughlin@gmail.com | Age: 72 | City: Craigbury] <class '__main__.Customer'>
Customer [Id: 93 | Name:Christina Edwards | Email : fernando61@yahoo.com | Age: 26 | City: Powellbury] <class '__main__.Customer'>
Customer [Id: 94 | Name:Steve Rhodes | Email : kbrown@snyder-harrell.com | Age: 46 | City: Boyleville] <class '__main__.Customer'>
Customer [Id: 95 | Name:Sara Weaver | Email : amberbrown@williams.net | Age: 18 | City: Michellefort] <class '__main__.Customer'>
Customer [Id: 96 | Name:Jasmine Howard | Email : qjohnson@yahoo.com | Age: 64 | City: Choitown] <class '__main__.Customer'>
Customer [Id: 97 | Name:Michelle Hernandez | Email : sharon23@gmail.com | Age: 21 | City: Port Christopherburgh] <class '__main__.Customer'>
Customer [Id: 98 | Name:Kimberly Johnston | Email : jasmine89@martinez.org | Age: 31 | City: North Garyview] <class '__main__.Customer'>
Customer [Id: 99 | Name:Christina Harris | Email : zward@garcia-brown.org | Age: 21 | City: Port Melissachester] <class '__main__.Customer'>
Customer [Id: 100 | Name:Jeff Owen | Email : sandra05@yahoo.com | Age: 75 | City: West Angela] <class '__main__.Customer'>
Customersss <class 'list'>
2024-10-18 13:38:41,586 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,588 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,589 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ('1', 'Danielle Weaver', 'wadelindsay@yahoo.com', '33', 'Watkinsview')
2024-10-18 13:38:41,590 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,601 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,602 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,603 INFO sqlalchemy.engine.Engine [cached since 0.01439s ago] ('2', 'Brandon Moore', 'brownmarie@gmail.com', '43', 'New Patrick')
2024-10-18 13:38:41,604 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,610 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,613 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,613 INFO sqlalchemy.engine.Engine [cached since 0.0249s ago] ('3', 'Gregory Brown', 'greenlaura@gordon-lopez.com', '48', 'West Diane')
2024-10-18 13:38:41,615 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,623 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,623 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,624 INFO sqlalchemy.engine.Engine [cached since 0.03641s ago] ('4', 'William Huang', 'doughertynicole@yahoo.com', '66', 'Port Jimmyville')
2024-10-18 13:38:41,626 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,635 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,635 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,636 INFO sqlalchemy.engine.Engine [cached since 0.04777s ago] ('5', 'Tom Hardin', 'ilee@ball-welch.com', '42', 'Lauraport')
2024-10-18 13:38:41,638 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,648 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,650 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,650 INFO sqlalchemy.engine.Engine [cached since 0.06216s ago] ('6', 'Ashley Hicks', 'jaime83@brown.org', '77', 'Williamsstad')
2024-10-18 13:38:41,651 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,660 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,661 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,662 INFO sqlalchemy.engine.Engine [cached since 0.07388s ago] ('7', 'Jacob Galvan', 'emily62@herrera.com', '47', 'Dannymouth')
2024-10-18 13:38:41,664 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,672 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,673 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,674 INFO sqlalchemy.engine.Engine [cached since 0.0859s ago] ('8', 'Christine Gibson', 'kimberly70@yahoo.com', '75', 'Port Miguelhaven')
2024-10-18 13:38:41,675 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,683 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,684 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,685 INFO sqlalchemy.engine.Engine [cached since 0.09713s ago] ('9', 'Melanie Johnson', 'kellydawn@wright.com', '61', 'Murphyhaven')
2024-10-18 13:38:41,686 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,695 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,695 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,696 INFO sqlalchemy.engine.Engine [cached since 0.1081s ago] ('10', 'Terry Barnett', 'willisjames@hotmail.com', '54', 'Lake Brendastad')
2024-10-18 13:38:41,698 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,706 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,706 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,707 INFO sqlalchemy.engine.Engine [cached since 0.1192s ago] ('11', 'Jessica Rodriguez', 'kaylahughes@gmail.com', '65', 'Cookburgh')
2024-10-18 13:38:41,709 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,718 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,719 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,720 INFO sqlalchemy.engine.Engine [cached since 0.1315s ago] ('12', 'Charles Lucas', 'jose38@parker-bell.org', '70', 'Lake Derektown')
2024-10-18 13:38:41,720 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,730 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,731 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,732 INFO sqlalchemy.engine.Engine [cached since 0.1438s ago] ('13', 'Kelly Love', 'hudsoncory@ward.com', '45', 'Port Travisport')
2024-10-18 13:38:41,733 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,742 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,743 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,743 INFO sqlalchemy.engine.Engine [cached since 0.155s ago] ('14', 'Ariel White', 'mryan@bishop.net', '75', 'West Kyleburgh')
2024-10-18 13:38:41,745 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,756 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,756 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,757 INFO sqlalchemy.engine.Engine [cached since 0.1694s ago] ('15', 'Charles Chan', 'tashasmith@hotmail.com', '34', 'Kevinshire')
2024-10-18 13:38:41,758 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,768 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,769 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)
2024-10-18 13:38:41,770 INFO sqlalchemy.engine.Engine [cached since 0.1813s ago] ('16', 'Katherine Moore', 'jessica58@hotmail.com', '22', 'Evansshire')
2024-10-18 13:38:41,771 INFO sqlalchemy.engine.Engine COMMIT
2024-10-18 13:38:41,780 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-18 13:38:41,781 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, email, age, city) VALUES (?, ?, ?, ?, ?)