## Tuples

In [2]:
# Tuples are read only list 
#  ()

#### Multiple Ways of Creating a Tuple

In [5]:
point=(1,2)
print(type(point))
print(point)

<class 'tuple'>
(1, 2)

In [9]:
point=1,
print(type(point))
print(point)

<class 'tuple'>
(1,)

In [11]:
point=1,2,3
print(type(point))
print(point)

<class 'tuple'>
(1, 2, 3)

In [13]:
point=(1,2)+(3,4)
print(type(point))
print(point)

<class 'tuple'>
(1, 2, 3, 4)

In [15]:
point=(1,2)*3
print(type(point))
print(point)

<class 'tuple'>
(1, 2, 1, 2, 1, 2)

In [19]:
point=("Vodacom",)*3
print(type(point))
print(point)

<class 'tuple'>
('Vodacom', 'Vodacom', 'Vodacom')

#### Access the elements in a Tuple

In [34]:
point=(1,2,3)

print("Point:",point)

print("Index [1]:",point[1])

print("Range",point[0:])
print("Range",point[0:2])

Point: (1, 2, 3)
Index [1]: 2
Range (1, 2, 3)
Range (1, 2)

In [28]:
x,y,z=point

print("X:",x)
print("Y:",y)
print("Z:",z)

X: 1
Y: 2
Z: 3

In [38]:
if 10 in point:
    print("10 is present in tuple")
else:
     print("10 is not present in tuple")

10 is not present in tuple

In [36]:
point[1]=30

TypeError: 'tuple' object does not support item assignment