## Dictionary

In [2]:
# Key-Value Pairs
#  {key:value,key:value,.......}
# Contact Book Name --> number
# Name should be unique [Key should be unique]

#### Multiple Ways of creating a dictionary

In [5]:
point= {"x":1,"y":2}
print(point)
print(type(point))

{'x': 1, 'y': 2}
<class 'dict'>

In [7]:
point=dict(x=1,y=2)
print(point)
print(type(point))

{'x': 1, 'y': 2}
<class 'dict'>

In [43]:
details=dict(name="Zartab",city="Mumbai",age=33,married=True,program_stack=["Java","Python"])
print(details)
print(type(details))

{'name': 'Zartab', 'city': 'Mumbai', 'age': 33, 'married': True, 'program_stack': ['Java', 'Python']}
<class 'dict'>

#### Accessing elements in dictionary

In [14]:
print("Name:",details.get("name"))

Name: Zartab

In [16]:
print("Age:",details["age"])

Age: 33

In [18]:
print("Country:",details.get("country"))

Country: None

In [24]:
print("Country:",details.get("country","SA"))

Country: SA

In [28]:
print(details)
print(type(details))

{'name': 'Zartab', 'city': 'Mumbai', 'age': 33, 'married': True, 'program_stack': ['Java', 'Python']}
<class 'dict'>

#### Add and Remove elements from dictionary

In [31]:
details["country"]="India"
print(details)

{'name': 'Zartab', 'city': 'Mumbai', 'age': 33, 'married': True, 'program_stack': ['Java', 'Python'], 'country': 'India'}

In [33]:
details["country"]="South Africa"
print(details)

{'name': 'Zartab', 'city': 'Mumbai', 'age': 33, 'married': True, 'program_stack': ['Java', 'Python'], 'country': 'South Africa'}

In [35]:
details["age"]=34
print(details)

{'name': 'Zartab', 'city': 'Mumbai', 'age': 34, 'married': True, 'program_stack': ['Java', 'Python'], 'country': 'South Africa'}

In [45]:
details["program_stack"].append("JavaScript")
print(details)
del details["program_stack"]
print(details)

{'name': 'Zartab', 'city': 'Mumbai', 'age': 33, 'married': True, 'program_stack': ['Java', 'Python', 'JavaScript']}
{'name': 'Zartab', 'city': 'Mumbai', 'age': 33, 'married': True}

In [39]:
removed_element=details.pop("city")
print(details)
print(removed_element)

{'name': 'Zartab', 'age': 34, 'married': True, 'country': 'South Africa'}
Mumbai

#### Iterate Through a Dictionary

In [50]:
for element in details:
    print(element)

name
city
age
married

In [52]:
for key in details:
    print(key)

name
city
age
married

In [54]:
for item in details.items():
    print(item)

('name', 'Zartab')
('city', 'Mumbai')
('age', 33)
('married', True)

In [56]:
for key,value in details.items():
    print(key,"---",value)

name --- Zartab
city --- Mumbai
age --- 33
married --- True

In [60]:
key_list=details.keys()
value_list=details.values()

print("Keys:",key_list)
print("Keys:",type(key_list))
print("Values:",value_list)
print("Values:",type(value_list))

Keys: dict_keys(['name', 'city', 'age', 'married'])
Keys: <class 'dict_keys'>
Values: dict_values(['Zartab', 'Mumbai', 33, True])
Values: <class 'dict_values'>

In [62]:
for key in key_list:
    print(key)

name
city
age
married