## Classes in Python

#### Naming Conventions

In [3]:
# function /variable  --> snake_casing --> one_two_three_four
# class               --> PascalCasing --> OneTwoThreeFour

In [7]:
class Point:
    def draw(self):
        self.x=20
        self.y=30
        print("Draw()")

In [11]:
p=Point()
p.draw()
print("p.x:",p.x)
print("p.y:",p.y)
print(type(p))

Draw()
p.x: 20
p.y: 30
<class '__main__.Point'>

#### __init__()  Constructor

In [30]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def details(self):
        print(f"Person <{self.name},{self.age}>")

In [39]:
tom=Person("Tom",25)
tom.details()
print(tom)

Person <Tom,25>
<__main__.Person object at 0x000002D93DAF7920>

In [24]:
class Person:
    def __init__(self,n,a):
        self.name=n
        self.age=a

    def details(self):
        print(f"Person <{self.name},{self.age}>")

In [28]:
alex=Person("Alex",29)
alex.details()

Person <Alex,29>

#### __magic_functions__()

In [33]:
# https://rszalski.github.io/magicmethods/#representations

In [35]:
class Point:

    def __init__(self,x,y):
        self.x=x
        self.y=y
    def __str__(self):
        return f"Point ({self.x},{self.y})"

In [37]:
p=Point(10,20)
print(p)

Point (10,20)

#### Setters and Getters

In [42]:
class Product:
    def __init__(self,name,price):
        self.name=name
        self.price=price

    def __str__(self):
        return f"Product Name: {self.name} || Price : {self.price}"

In [48]:
p1=Product("Earphones",20)
print(p1)
p1.price=-20
print(p1)

Product Name: Earphones || Price : 20
Product Name: Earphones || Price : -20

In [52]:
class Product:
    def __init__(self,name,price):
        self.name=name
        self.set_price(price)
        
    def __str__(self):
        return f"Product Name: {self.name} || Price : {self.price}"
        
    def set_price(self,price):
        if(price<=0):
            raise ValueError("Price cannot be zero or less")
        else:
            self.price=price
    def get_price(self):
        return self.price

In [54]:
p1=Product("Earphones",20)
print(p1)

Product Name: Earphones || Price : 20

In [56]:
p2=Product("Earphones",-20)
print(p2)

ValueError: Price cannot be zero or less

In [58]:
p3=Product("Mouse",10)
print(p3)

Product Name: Mouse || Price : 10

In [60]:
p3.price=-10
print(p3)

Product Name: Mouse || Price : -10

#### Make price of nature private [No one should access it from outside the class]

In [67]:
class Product:
    def __init__(self,name,price):
        self.name=name
        self.set_price(price)
        
    def __str__(self):
        return f"Product Name: {self.name} || Price : {self.__price}"
        
    def set_price(self,price):
        if(price<=0):
            raise ValueError("Price cannot be zero or less")
        else:
            self.__price=price
    def get_price(self):
        return self.__price

In [69]:
p3=Product("Mouse",10)
print(p3)
p3.price=-10
print(p3)

Product Name: Mouse || Price : 10
Product Name: Mouse || Price : 10

#### Inheritance

In [82]:
class Animal:
    def eat(self):
        print("Eat -- Animal")

In [76]:
# Animal -- Base,Parent,Super 

# Mammal, Fish -- Derived,Child,Sub Class

#  class Child(Parent):

In [84]:
class Mammal(Animal):
    def walk(self):
        print("Walk -- Mammal")

In [86]:
m=Mammal()
m.eat()
m.walk()

Eat -- Animal
Walk -- Mammal

In [88]:
class Fish(Animal):
    def swim(self):
        print("Swim -- Fish")

In [90]:
f=Fish()
f.eat()
f.swim()

Eat -- Animal
Swim -- Fish

#### Making a Blank Class or an function  -- pass

In [97]:
class Test:
    pass

#### Making our Own Exceptions

In [102]:
# You will take an input of salary
# If salary is between 5000 and 50000 , it is fine
# else throw SalaryNotInRangeError

In [114]:
class SalaryNotInRangeError(BaseException):
    """
    This is a documentation string
    Exceptions ar raised for error in salary range
    """
    def __init__(self,salary,message="Salary is not in range of 5000 and 50000"):
        self.salary=salary
        self.message=message
        super().__init__(self.message)

In [116]:
salary=int(input("Enter your salary:"))

if 5000 <= salary <= 50000:
    print(f"Salary is {salary}")
else:
    raise SalaryNotInRangeError(salary)

Enter your salary: 2000

SalaryNotInRangeError: Salary is not in range of 5000 and 50000

#### Abstract Base Class

In [121]:
from abc import ABC,abstractmethod

class Car(ABC):
    @abstractmethod
    def start(self):
        pass
    
    @abstractmethod
    def stop(self):
        pass

In [127]:
class HondaCity(Car):
    def start(self):
        print("Start of Honda City")
    def stop(self):
        print("Stop of Honda City")

In [131]:
h=HondaCity()
h.start()
h.stop()

Start of Honda City
Stop of Honda City