In [ ]:
# If - Else - Elif

In [3]:
if True:
    print("Hello")
    print("These statements are under if block")

print("This are out of if Block")

Hello
These statements are under if block
This are out of if Block

In [2]:
if False:
    print("Hello")
    print("These statements are under if block")

print("This are out of if Block")

This are out of if Block

In [5]:
x=2

if (x>3):
    print("Number is greater than 3")
else:
    print("Number is lesser than 3")

Number is lesser than 3

In [6]:
#  && -- and
# ||  -- or 


a=int(input("Enter First Number:"))

b=int(input("Enter Second Number:"))


c=int(input("Enter Third Number:"))


if (a>b and a>c):
    print(f"{a} is greater than {b} and {c}")
elif (b>a and b>c):
    print(f"{b} is greater than {a} and {c}")
else:
    print(f"{c} is greater than {b} and {a}")

Enter First Number:10
Enter Second Number:30
Enter Third Number:20
30 is greater than 10 and 20

## Operators

In [7]:
# and
# or
# not

In [ ]:
# Loan Processing System

In [15]:
high_income=False
good_credit=True
is_student=True

In [11]:
if high_income and good_credit:
    print("Eligible")
else:
    print("Not Eligible")

Not Eligible

In [13]:
if (high_income or good_credit) and is_student:
        print("Eligible")
else:
    print("Not Eligible")

Eligible

## Ternary Operator

In [18]:
age=19

message=""

if age>=18:
    message="Eligible Age"
else:
    message="Non Eligible Age"

print(message)

Eligible Age

In [22]:
age=7

message="Eligible Age" if age>=18 else "Non Eligble Age"

print(message)

Non Eligble Age

In [25]:
# we want to assign grades based on a score:

#  If the score is 90 or above: Grade A
# If the score is 80 to 89: Grade B
# If the score is 70 to 79: Grade C
# Otherwise: Grade F

In [31]:
score=68

grade= "A" if score>=90 else "B" if score>=80 else "C" if score>=70 else "F"

print(score,"--",grade)

68 -- F

## While Loop

In [34]:
# Initialization
# Condition
# Increment/Decrement

In [38]:
number=1

while (number<=10):
    print(number)
    number+=1

1
2
3
4
5
6
7
8
9
10

In [42]:
number=100

while number>0:
    print(number)
    number=number//2
# / Divide 
# // Floor Divide -- nearest smallest whole number

100
50
25
12
6
3
1

In [48]:
command=""

while command.lower() != "quit":
    command=input(">>")
    print("ECHO:",command)

>> hu

ECHO: hu

>> QUIT

ECHO: QUIT

## For Loop

In [51]:
# for item in items:

# for element in collection:

for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [53]:
for number in range(1,6):
    print("Attempt ",number,number*'.')

Attempt  1 .
Attempt  2 ..
Attempt  3 ...
Attempt  4 ....
Attempt  5 .....

In [65]:
successful=True

for attempt in range(1,6):
    print("Attempt : ",(attempt))
    print("Attempting to send a message.")
    if(attempt==3 and successful):
        print("Message Sent Successfully")
        break;
else:
    print(60*'-')
    print("Attempted 5 times, message sending failed")
# else after for .. will be executed only if the for loop completed without breaking

Attempt :  1
Attempting to send a message.
Attempt :  2
Attempting to send a message.
Attempt :  3
Attempting to send a message.
Message Sent Successfully

# Iterations in Python

In [68]:
for x in range(1,5):
    print(x)

1
2
3
4

In [70]:
for x in  [1,2,3,4,5,6]:
    print(x)

1
2
3
4
5
6

In [72]:
for x in "Vodacom":
    print(x)

V
o
d
a
c
o
m

In [74]:
# *
# *  *
# *  *  *
# *  *  *  *
# *  *  *  *  *

In [88]:
rows=5
# Outer Loop
for i in range(1,rows+1):
    # Inner
    for j in range(i):
        print("*",end="     ")
    print()

*
*     *
*     *     *
*     *     *     *
*     *     *     *     *

In [78]:
rows=5

for i in range(1,rows+1):
    print("*     "*i)

*
*     *
*     *     *
*     *     *     *
*     *     *     *     *

In [90]:
# 1
# 2   2
# 3   3  3
# 4   4  4  4
# 5   5  5  5  5


# 1 
# 1  2  
# 1  2  3 
# 1  2  3  4
# 1  2  3  4  5

# Switch Case  [Only available from Python 3.10 and above]

In [94]:
def swith_example(value):
    match value:
        case 1:
            return "One"
        case 2:
            return "Two"
        case 3:
            return "Three"
        case _:
            return "Unknown"

In [96]:
print(swith_example(1))
print(swith_example(10))

One
Unknown