## Simple Function

In [3]:
def greet():
    print("Hi There")
    print("Welcome Aboard")

In [5]:
greet()

Hi There
Welcome Aboard

### Function with Parameters

In [8]:
def add_two_numbers(one,two):
    print(f"Addition of {one} and {two} is ",(one+two))

In [10]:
add_two_numbers(3,6)

Addition of 3 and 6 is  9

### FUNCTION WITH RETURN TYPE

In [13]:
def get_greeting(name):
    greeting=f"Hi {name.upper()}"
    return greeting

In [15]:
greeting_for_tom=get_greeting("Tom")
print(greeting_for_tom)

Hi TOM

In [17]:
# Send this in an email
# Store this in DB
# Store it in a file
# Send it over a network
# Print in log

## Keyword Arguments

In [20]:
# Increment a number after it's factorial is calculated

In [22]:
import math

def increment_after_factorial(number,by):
    factorialed_number=math.factorial(number)
    add_to_factorial=factorialed_number+by
    return add_to_factorial

In [30]:
print("Factorial of 5 plus  4  is ",increment_after_factorial(5,4))
print("Factorial of 6 plus  2 is ",increment_after_factorial(6,2))

Factorial of 5 plus  4  is  124
Factorial of 6 plus  2 is  722

In [32]:
print("Factorial of 8 plus  3 is ",increment_after_factorial(number=8,by=3))
print("Factorial of 4 plus  5 is ",increment_after_factorial(by=5,number=4))

Factorial of 8 plus  3 is  40323
Factorial of 4 plus  5 is  29

#### Default Argument

In [39]:
def increment(number,by=1):
    print(f"{number} incremented by {by} is {number+by}")

In [37]:
increment(4,1)

4 incremented by 1 is 5

In [41]:
increment(5)

5 incremented by 1 is 6

In [43]:
increment(10)

10 incremented by 1 is 11

In [45]:
increment(11,3)

11 incremented by 3 is 14

#### Varying Arguments

In [62]:
def multiply(*numbers):
    print(type(numbers))
    total=1
    for number in numbers:
        total=total*number
    return total

In [64]:
result=multiply(5)
print(result)

<class 'tuple'>
5

In [66]:
result=multiply(5,6,7)
print(result)

<class 'tuple'>
210

In [68]:
result=multiply(1,2,3,4,5)
print(result)

<class 'tuple'>
120