In [1]:
import sqlite3

connection=sqlite3.connect("vodacom_demo.db")

print("Connected to Database")

Connected to Database

In [5]:
cursor=connection.cursor()

# students 

query='''
CREATE TABLE IF NOT EXISTS students(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
)
'''

cursor.execute(query)
print("Table Created Successfully")

Table Created Successfully

#### Insert into the Table

In [9]:
query="INSERT INTO students (name,age,grade) values ('Tom',25,'A')"
cursor.execute(query)
connection.commit()

In [11]:
query="INSERT INTO students (name,age,grade) values ('Elizabeth',24,'B')"
cursor.execute(query)
connection.commit()

In [13]:
query="INSERT INTO students (name,age,grade) values ('Mike',26,'C')"
cursor.execute(query)
connection.commit()

#### Query the data from database

In [34]:
query="Select * from students"
cursor.execute(query)
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Tom', 25, 'A')
(3, 'Elizabeth', 24, 'A+')
(4, 'Mike', 26, 'C')

#### Update and Delete the records from Database

#### Update

In [27]:
query="Update students set grade='A+' WHERE name='Elizabeth'"
cursor.execute(query)
connection.commit()

#### Delete

In [32]:
query ="Delete from students where id=2"
cursor.execute(query)
connection.commit()

## INSTALLING SQLALCHEMY

In [39]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\victus\anaconda36\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\victus\anaconda36\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\victus\anaconda36\lib\site-packages (from sqlalchemy) (3.0.1)

In [43]:
from sqlalchemy import create_engine
database_url="sqlite:///vodacom_test.db"
engine=create_engine(database_url,echo=True)

print("Engine generated successfully")

Engine generated successfully

### Define the Table using ORM[Object Relational Mapping]

In [ ]:
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column,Integer,String
Base=declarative_base()

class Customer(Base):
    __tablename__="customers"

    id=Column(Integer,primary_key=True,autoincrement=True)
    name=Column(String(100),nullable=False)
    email=Column(String(100),nullable=False,unique=True)
    age=Column(Integer,nullable=True)


    def __repr__(self):
        return f"Customer [Id: {self.id} | Name:{self.name} | Email : {self.email} | Age: {self.age}]"